$pink:#ed1c94;
$gray:#f2f3f9;
$white:#ffffff;
$primary:#29293a;
$font-primary:'Oswald', sans-serif;
$blue:#981df0;
$gradient:linear-gradient(to right, $pink 50%, $blue 120%);
$font-secondary:'Lato', sans-serif;
$yellow:#ffec17;
$purple:#6d0eb1;
$font-icon:'Material Icons';
$color-icon:#29293a;
$card-message:#838386;
$border-card:#c2c2c3;
